[Unit]
Description=Glideradar
Wants=
After=network.target

[Service]
Type=notify

User=yggdra
Group=yggdra

ExecStart=/usr/local/bin/glideradar

Restart=always

TimeoutStartSec=15
WatchdogSec=10

[Install]
WantedBy=multi-user.target
